body{
	background-color:lightgrey;
}

h1{
	font-size:80px;
	margin:0;
	font-family: 'Lobster', cursive;
	text-align:center;
}
h2{
	font-size:35px;
	text-align: center;
	text-transform: uppercase;
	margin:15px 0 15px 0;
	padding-left: 70px;
	font-family: 'Raleway', sans-serif;
}

h3{
	font-size:35px;
	text-align:center;
	text-transform: uppercase;
	margin:25px 0 15px 0;
	font-family: 'Raleway', sans-serif;
}

li a {
	color:black;
}

.animals{
	list-style-type: none;
	font-size: 100px;
	display:flex;
	margin:0;
	justify-content: space-evenly;
}

input{
	padding: 12px 40px;
    border-radius: 8px;
    font-size:20px;
    text-align: center;
}

.submitButton{
	display:flex;
	justify-content: center;
}

.fa-dog, .fa-cat{
	font-size:40px;
	padding:0 20px 0 20px;

}
label{
	padding:0 20px 0 0;
}

.animalLogo, .genders, .size{
	display:flex;
	justify-content: center;
	flex-direction: row;
	margin:25px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
.animalPhoto{
	display:flex;
	justify-content:center;
}
.dogBreed{
	text-align:center;
}
.dogDescription {
	text-align:center;
	margin:0 50px 0 50px;
}

img{
	width:200px;
	height:200px;
}